# IMPORTANT PLEASE NOTE
__!!! THIS NOTEBOOK IS NOT EXECUTABLE LOCALLY !!!__

This notebook concatenates all predictions, technical and seasonality indicators to form the dataset for the metalearner. 
It is an OFFLINE version of our notebook which is hosted on Colab. We automated the process of reading individual files from Google Drive. Thus, it is NOT SUITABLE to be ran locally.

Please contact any members of the team for clarification. Thank you.

In [0]:
import pandas as pd
import numpy as np

from pydrive.auth import GoogleAuth 
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials

In [0]:
# !ls /content/drive/My\ Drive/BT4222/Predictions/

# Load Individual Datasets

In [0]:
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

In [0]:
def get_concatenated_datasets(source_train, source_test, id):
    file_dir = id + " in parents and trashed=false"
    #   file_list = drive.ListFile({'q': file_dir}).GetList()
    print("'%s' in parents and trashed=false" % id)
    print(file_dir)
    file_list = drive.ListFile({'q': "'%s' in parents and trashed=false" % id}).GetList()
    for file1 in file_list:
        print('title: %s, id: %s' % (file1['title'], file1['id']))
        name_file = file1['title'].replace('.', '_')
        data_downloaded = drive.CreateFile({'id': file1['id']})
        data_downloaded.GetContentFile(name_file)
        data = pd.read_csv(name_file)
        print(data.columns)
        name_ = name_file.split('_')
        print(name_)
        if name_[1] == 'train':
            data['Ticker'] = name_[0]
            data['Predictions'] = data[name_[0]]
            del data[name_[0]]
            #print(data.head())
            frames = [source_train, data]
            source_train = pd.concat(frames, sort=False)
        if name_[1] == 'test':
            data['Ticker'] = name_[0]
            data['Predictions'] = data[name_[0]]
            del data[name_[0]]
            #print(data.head())
            frames = [source_test, data]
            source_test = pd.concat(frames, sort=False)
    return source_train, source_test

# Read all 5 sources

In [0]:
eightk_train = pd.DataFrame()
eightk_train['Ticker'] = ''
eightk_train['Date'] = ''
eightk_train['Predictions'] = ''
eightk_test = pd.DataFrame()
eightk_test['Ticker'] = ''
eightk_test['Date'] = ''
eightk_test['Predictions'] = ''
eightk_id = '1SP05u1lc8T1ujaDcKJUJ1OFnvHsuK3cz'
eightk_train, eightk_test = get_concatenated_datasets(eightk_train, eightk_test, eightk_id)

'1SP05u1lc8T1ujaDcKJUJ1OFnvHsuK3cz' in parents and trashed=false
1SP05u1lc8T1ujaDcKJUJ1OFnvHsuK3cz in parents and trashed=false
title: CAT_test_8K.csv, id: 1ABGgOMhZsjVL1uAXhcmw5GiqEzYXUO0m
Index(['Date', 'CAT'], dtype='object')
['CAT', 'test', '8K', 'csv']
title: MRK_test_8K.csv, id: 16nxb5l2QaGx8KMohlxbNUITcNQaX-mnh
Index(['Date', 'MRK'], dtype='object')
['MRK', 'test', '8K', 'csv']
title: PFE_test_8K.csv, id: 1bF4fq-2Ztb9HzPcGXeW2_YfGfNsb2dfe
Index(['Date', 'PFE'], dtype='object')
['PFE', 'test', '8K', 'csv']
title: CAT_train_8K.csv, id: 15nemJLW0f4WEMyMS2D9rrjl34tJznkKG
Index(['Date', 'CAT'], dtype='object')
['CAT', 'train', '8K', 'csv']
title: JPM_train_8K.csv, id: 1Hjy_OUk-byp72F4SWhmP7lN-iPM4LA6d
Index(['Date', 'JPM'], dtype='object')
['JPM', 'train', '8K', 'csv']
title: MSFT_train_8K.csv, id: 1Re_Pv9ed6D0ubF1FRCu2sPg_mVQLU01F
Index(['Date', 'MSFT'], dtype='object')
['MSFT', 'train', '8K', 'csv']
title: PG_test_8K.csv, id: 11YMNTnEGZn1orjovyVy2bEWws1NrZ3SD
Index(['Date', 'PG'], dtype='object')
['PG', 'test', '8K', 'csv']
title: AXP_train_8K.csv, id: 1SBOouZWdsxe7Cpy3riMb1aHaxAdQaMlG
Index(['Date', 'AXP'], dtype='object')
['AXP', 'train', '8K', 'csv']
title: AAPL_train_8K.csv, id: 1JoZhJdlQbyT_PPw8rOeriJzSsMqZ4TmI
Index(['Date', 'AAPL'], dtype='object')
['AAPL', 'train', '8K', 'csv']
title: MCD_train_8K.csv, id: 1piyx_5_rUywt4ijFOJm-4LPof1L287kA
Index(['Date', 'MCD'], dtype='object')
['MCD', 'train', '8K', 'csv']
title: BA_test_8K.csv, id: 1RdUoUaGgIsqwa9Og4nmHWZ01muyPeK4E
Index(['Date', 'BA'], dtype='object')
['BA', 'test', '8K', 'csv']
title: IBM_train_8K.csv, id: 1-TYSy0uK7vG1mX_TeyTevhYGVnJlhziY
Index(['Date', 'IBM'], dtype='object')
['IBM', 'train', '8K', 'csv']
title: KO_test_8K.csv, id: 1dPBGkk_XW9kDfvrn441WXm2ZDPlhH8M_
Index(['Date', 'KO'], dtype='object')
['KO', 'test', '8K', 'csv']
title: VZ_train_8K.csv, id: 1VtwmBBZ6OhrPZ98vcgIBwmQz4wmBnV_a
Index(['Date', 'VZ'], dtype='object')
['VZ', 'train', '8K', 'csv']
title: CSCO_train_8K.csv, id: 1qld-pGbu-WJtkUmTkoAMW1cmuaHtbwIY
Index(['Date', 'CSCO'], dtype='object')
['CSCO', 'train', '8K', 'csv']
title: HD_test_8K.csv, id: 1FDzS9LwbVVl8mY58cbEdyegpu6nhqcxK
Index(['Date', 'HD'], dtype='object')
['HD', 'test', '8K', 'csv']
title: DIS_test_8K.csv, id: 1EhrPm_Dqb9k1y5Pj_6o8qWbI3ZyH2mf8
Index(['Date', 'DIS'], dtype='object')
['DIS', 'test', '8K', 'csv']
title: PFE_train_8K.csv, id: 1ZzBFq_RS_baz2mqVSY94_ybxCBWYWP0R
Index(['Date', 'PFE'], dtype='object')
['PFE', 'train', '8K', 'csv']
title: UTX_test_8K.csv, id: 1hSZG_kXtisJCrY-e_1Qrh63eYfTXKJvr
Index(['Date', 'UTX'], dtype='object')
['UTX', 'test', '8K', 'csv']
title: WMT_train_8K.csv, id: 1ipV_wXS80QszLL_Wn2h5R19OLS1AFJte
Index(['Date', 'WMT'], dtype='object')
['WMT', 'train', '8K', 'csv']
title: AXP_test_8K.csv, id: 148g4h71hOLpUuOawlny81ogSrc1cFKK4
Index(['Date', 'AXP'], dtype='object')
['AXP', 'test', '8K', 'csv']
title: JNJ_test_8K.csv, id: 1IUE1bJ3olYoYcdafVQhlAmwS0GeC1RDJ
Index(['Date', 'JNJ'], dtype='object')
['JNJ', 'test', '8K', 'csv']
title: TRV_test_8K.csv, id: 1kDkvWy3IoLK-n1fi-BDseZMsHTAIjTZm
Index(['Date', 'TRV'], dtype='object')
['TRV', 'test', '8K', 'csv']
title: MMM_test_8K.csv, id: 15qcaWElUnEv2LLcrmwapMVfL0XbeLVoP
Index(['Date', 'MMM'], dtype='object')
['MMM', 'test', '8K', 'csv']
title: GS_test_8K.csv, id: 1QhQ6azjs2VRJXV6HbWf7cgcUBPWjqfoO
Index(['Date', 'GS'], dtype='object')
['GS', 'test', '8K', 'csv']
title: CSCO_test_8K.csv, id: 1Ho9PcjLtGzQaXEkZCg51D-PGi6kGXOiD
Index(['Date', 'CSCO'], dtype='object')
['CSCO', 'test', '8K', 'csv']
title: KO_train_8K.csv, id: 1AVWHSG_RGClizfqbuyfUh0j3_v265EKk
Index(['Date', 'KO'], dtype='object')
['KO', 'train', '8K', 'csv']
title: MMM_train_8K.csv, id: 1KKaou4q79-O5k1667cbrxcHEJi2q4Ujd
Index(['Date', 'MMM'], dtype='object')
['MMM', 'train', '8K', 'csv']
title: NKE_train_8K.csv, id: 1tc5Kzdhim81ogHAu1GGjJkPQG6UtX9K6
Index(['Date', 'NKE'], dtype='object')
['NKE', 'train', '8K', 'csv']
title: PG_train_8K.csv, id: 1bMKv0yxsrPiN3pc54ulo2a41V7nSXBZc
Index(['Date', 'PG'], dtype='object')
['PG', 'train', '8K', 'csv']
title: V_test_8K.csv, id: 1EekD5Uo6zkHqTqB8dy3NEqqoFtESIXIz
Index(['Date', 'V'], dtype='object')
['V', 'test', '8K', 'csv']
title: XOM_train_8K.csv, id: 1Y4IV4UTxXDfK6cTBdZvu0fg3hL0oyLQA
Index(['Date', 'XOM'], dtype='object')
['XOM', 'train', '8K', 'csv']
title: XOM_test_8K.csv, id: 1KzxtB0LY26wg6fnG5bdKlQ4S9VBEMWJt
Index(['Date', 'XOM'], dtype='object')
['XOM', 'test', '8K', 'csv']
title: DIS_train_8K.csv, id: 19zuy2AYwvDMVkgopnSlS9Ld0gwLlYbMX
Index(['Date', 'DIS'], dtype='object')
['DIS', 'train', '8K', 'csv']
title: BA_train_8K.csv, id: 1Luwri18v-zV4DRdJ_K8CSRQPxVkIiXgG
Index(['Date', 'BA'], dtype='object')
['BA', 'train', '8K', 'csv']
title: CVX_test_8K.csv, id: 1rfq-xdp-kZqCHMwoBygFyNHpVwmLdEmp
Index(['Date', 'CVX'], dtype='object')
['CVX', 'test', '8K', 'csv']
title: V_train_8K.csv, id: 1EFAqbo_poOE3tQG0yFnwsRCGDnB9IWGk
Index(['Date', 'V'], dtype='object')
['V', 'train', '8K', 'csv']
title: JPM_test_8K.csv, id: 1sHkTu8RIB5ZZJ_oGZRvy3XgK9idNZBI8
Index(['Date', 'JPM'], dtype='object')
['JPM', 'test', '8K', 'csv']
title: TRV_train_8K.csv, id: 1Gt_0Yqm5VwgN3b4S-h-Li2kxnevfZhDJ
Index(['Date', 'TRV'], dtype='object')
['TRV', 'train', '8K', 'csv']
title: CVX_train_8K.csv, id: 1CoxCSHOajX__IZ3kzaVxkYK-MhNMy6pm
Index(['Date', 'CVX'], dtype='object')
['CVX', 'train', '8K', 'csv']
title: WMT_test_8K.csv, id: 1ZZ7KRT0r9SIiWGgJ6ZfwyJOWhpfdmxKv
Index(['Date', 'WMT'], dtype='object')
['WMT', 'test', '8K', 'csv']
title: MSFT_test_8K.csv, id: 1SL5fOF_hzXhhm4cIU7zl4DL5kruulHZl
Index(['Date', 'MSFT'], dtype='object')
['MSFT', 'test', '8K', 'csv']
title: MRK_train_8K.csv, id: 1-8D71Bym0w1nhnx-8adFeQ7odCiq8StN
Index(['Date', 'MRK'], dtype='object')
['MRK', 'train', '8K', 'csv']
title: MCD_test_8K.csv, id: 1vSwY81ZATtAYAcieBuPzRLdZLOhP6Hn1
Index(['Date', 'MCD'], dtype='object')
['MCD', 'test', '8K', 'csv']
title: JNJ_train_8K.csv, id: 1i9ScdBvynfJwAxNuApbaxmE95wyr-qcn
Index(['Date', 'JNJ'], dtype='object')
['JNJ', 'train', '8K', 'csv']
title: UNH_test_8K.csv, id: 1QO_sbhGwhdPnRdlBpzMNAjoUeLotHZbg
Index(['Date', 'UNH'], dtype='object')
['UNH', 'test', '8K', 'csv']
title: HD_train_8K.csv, id: 1dKAW8_N7bQ5eIWD8KQeEXObCg7flrpaI
Index(['Date', 'HD'], dtype='object')
['HD', 'train', '8K', 'csv']
title: VZ_test_8K.csv, id: 1fI7WQgKNnbksbSXI_iAUM5G-fQ0ERKin
Index(['Date', 'VZ'], dtype='object')
['VZ', 'test', '8K', 'csv']
title: INTC_test_8K.csv, id: 15-3ZkmTKs0duBlepE_FCWiLFfJItPksg
Index(['Date', 'INTC'], dtype='object')
['INTC', 'test', '8K', 'csv']
title: NKE_test_8K.csv, id: 1puGQhxFb3emAnvph1zNLD87DflM2VpRe
Index(['Date', 'NKE'], dtype='object')
['NKE', 'test', '8K', 'csv']
title: AAPL_test_8K.csv, id: 1TT8bk3oJKp9gpTaXak7WF_9WPcJy0Jk6
Index(['Date', 'AAPL'], dtype='object')
['AAPL', 'test', '8K', 'csv']
title: INTC_train_8K.csv, id: 19xFAWZCXCx6BVB6k8GKvCf6Dh9TUTyu1
Index(['Date', 'INTC'], dtype='object')
['INTC', 'train', '8K', 'csv']
title: UNH_train_8K.csv, id: 1jQD3DZ9nUrMGEteM7xiI_exoQfNDSda8
Index(['Date', 'UNH'], dtype='object')
['UNH', 'train', '8K', 'csv']
title: IBM_test_8K.csv, id: 1A98AayQ6swrccooZceCKdHT8wcbxrVaE
Index(['Date', 'IBM'], dtype='object')
['IBM', 'test', '8K', 'csv']
title: GS_train_8K.csv, id: 1QpW70rH8PhVBImsIbNb-4mlpubZzbJny
Index(['Date', 'GS'], dtype='object')
['GS', 'train', '8K', 'csv']
title: UTX_train_8K.csv, id: 1iG1yJd2uqWCQJigolzLFZM7Eba154Wp1
Index(['Date', 'UTX'], dtype='object')
['UTX', 'train', '8K', 'csv']

In [0]:
tenKQ_train = pd.DataFrame()
tenKQ_train['Ticker'] = ''
tenKQ_train['Date'] = ''
tenKQ_train['Predictions'] = ''
tenKQ_test = pd.DataFrame()
tenKQ_test['Ticker'] = ''
tenKQ_test['Date'] = ''
tenKQ_test['Predictions'] = ''
tenKQ_id = '13TwWobaM-We3gawq-CgYh7Q-13LajO8h'
tenKQ_train, tenKQ_test = get_concatenated_datasets(tenKQ_train, tenKQ_test, tenKQ_id)

'13TwWobaM-We3gawq-CgYh7Q-13LajO8h' in parents and trashed=false
13TwWobaM-We3gawq-CgYh7Q-13LajO8h in parents and trashed=false
title: XOM_test_10k10Q.csv, id: 1VsGy-g-TbOgRmrAmC6gaGhk_fHL4WOba
Index(['Date', 'XOM'], dtype='object')
['XOM', 'test', '10k10Q', 'csv']
title: WMT_test_10k10Q.csv, id: 1GmNRc5UFH_HWmbW2E-GFkmFalmQqUD1e
Index(['Date', 'WMT'], dtype='object')
['WMT', 'test', '10k10Q', 'csv']
title: WMT_train_10k10Q.csv, id: 1-jUz2INE6z1TLX2M_aUC-nENVwT7dfSW
Index(['Date', 'WMT'], dtype='object')
['WMT', 'train', '10k10Q', 'csv']
title: V_train_10k10Q.csv, id: 11HajlD9Kgv4O_7db_zTPS3oRtywBIF7Z
Index(['Date', 'V'], dtype='object')
['V', 'train', '10k10Q', 'csv']
title: XOM_train_10k10Q.csv, id: 1aPgpqYPmxpbLym8NV3QMIhRjZzJzBQOo
Index(['Date', 'XOM'], dtype='object')
['XOM', 'train', '10k10Q', 'csv']
title: V_test_10k10Q.csv, id: 1bQ-F0f-SKzyJb9vEtrgQDdQG5Jq4wvPo
Index(['Date', 'V'], dtype='object')
['V', 'test', '10k10Q', 'csv']
title: VZ_train_10k10Q.csv, id: 1pWdsMLbSqVL4M_tTaqF_8aPavVLYiXOG
Index(['Date', 'VZ'], dtype='object')
['VZ', 'train', '10k10Q', 'csv']
title: UNH_train_10k10Q.csv, id: 1NKoK5xpyECKaf8iNEZ4qUXY9QLPcvy98
Index(['Date', 'UNH'], dtype='object')
['UNH', 'train', '10k10Q', 'csv']
title: UNH_test_10k10Q.csv, id: 1M8AtG49noJnZX6nQCSXUmK7NHwrI_wF4
Index(['Date', 'UNH'], dtype='object')
['UNH', 'test', '10k10Q', 'csv']
title: UTX_test_10k10Q.csv, id: 1fKnawVxUU5Au7EbVvCFMeTttuCsHjcWy
Index(['Date', 'UTX'], dtype='object')
['UTX', 'test', '10k10Q', 'csv']
title: VZ_test_10k10Q.csv, id: 1nmVFd6fe_t-hganDJDSlHnyC6PtusJz9
Index(['Date', 'VZ'], dtype='object')
['VZ', 'test', '10k10Q', 'csv']
title: PFE_test_10k10Q.csv, id: 1KbwJ738sssxjZNrq-JEUqcNBVtOgbfXg
Index(['Date', 'PFE'], dtype='object')
['PFE', 'test', '10k10Q', 'csv']
title: PG_train_10k10Q.csv, id: 12dbs0Mr4AywvqfqphMjvisI6Tc5yUquS
Index(['Date', 'PG'], dtype='object')
['PG', 'train', '10k10Q', 'csv']
title: PG_test_10k10Q.csv, id: 1LUcKBdwx4eRd5Tv-lXARyhDOp0ZEpH2i
Index(['Date', 'PG'], dtype='object')
['PG', 'test', '10k10Q', 'csv']
title: PFE_train_10k10Q.csv, id: 1ymxMe-6PHH48p1D8wUzgTCZ_CI4xCsF4
Index(['Date', 'PFE'], dtype='object')
['PFE', 'train', '10k10Q', 'csv']
title: NKE_train_10k10Q.csv, id: 1jPLj8IecqKjv6_KuINhShnxUMlTCO4Pi
Index(['Date', 'NKE'], dtype='object')
['NKE', 'train', '10k10Q', 'csv']
title: UTX_train_10k10Q.csv, id: 15b-d8WNZaU-apuwo7FriX5pl64rhzvK8
Index(['Date', 'UTX'], dtype='object')
['UTX', 'train', '10k10Q', 'csv']
title: NKE_test_10k10Q.csv, id: 1evs1YfhU3Adl73N9NNYw54n7jjtaQ13t
Index(['Date', 'NKE'], dtype='object')
['NKE', 'test', '10k10Q', 'csv']
title: MRK_train_10k10Q.csv, id: 1COVBJo6pdgfjjmeCOl2cZKiQvdl3RI7W
Index(['Date', 'MRK'], dtype='object')
['MRK', 'train', '10k10Q', 'csv']
title: MRK_test_10k10Q.csv, id: 16Va99oBUDxGMHjWxqPYQz6Y_DFsffQ40
Index(['Date', 'MRK'], dtype='object')
['MRK', 'test', '10k10Q', 'csv']
title: MMM_train_10k10Q.csv, id: 1sz0AS2SmdYcIXdO1bazfR01C0exgt9Kd
Index(['Date', 'MMM'], dtype='object')
['MMM', 'train', '10k10Q', 'csv']
title: MSFT_train_10k10Q.csv, id: 16z7BAYZIlNsMd89QJzc9XK8_2jRPPt6A
Index(['Date', 'MSFT'], dtype='object')
['MSFT', 'train', '10k10Q', 'csv']
title: MSFT_test_10k10Q.csv, id: 1B4vvwv0nJyD_RYzNXACKPTc8FJ9SLpk0
Index(['Date', 'MSFT'], dtype='object')
['MSFT', 'test', '10k10Q', 'csv']
title: MCD_test_10k10Q.csv, id: 1N12LLr5nnfhTuuvl4kZ_ICXlNwQhRZwa
Index(['Date', 'MCD'], dtype='object')
['MCD', 'test', '10k10Q', 'csv']
title: KO_train_10k10Q.csv, id: 10NLeGbUJJPAq6pXmV7bNV4_dIE2KDgQy
Index(['Date', 'KO'], dtype='object')
['KO', 'train', '10k10Q', 'csv']
title: KO_test_10k10Q.csv, id: 1uTmGMsYby-DD6mIwY5gtk8NbTQPv9HiC
Index(['Date', 'KO'], dtype='object')
['KO', 'test', '10k10Q', 'csv']
title: MCD_train_10k10Q.csv, id: 1LFepm2Nw08A6MJrx0KpN-OI4FDLgK-pJ
Index(['Date', 'MCD'], dtype='object')
['MCD', 'train', '10k10Q', 'csv']
title: MMM_test_10k10Q.csv, id: 1tUZtM5x10F2A2iUbLoC8X9PFbqTX4Bnq
Index(['Date', 'MMM'], dtype='object')
['MMM', 'test', '10k10Q', 'csv']
title: JPM_train_10k10Q.csv, id: 1mZd_JfTafhLkJjhPacsX6uWhuZlDCaBL
Index(['Date', 'JPM'], dtype='object')
['JPM', 'train', '10k10Q', 'csv']
title: JPM_test_10k10Q.csv, id: 1GDAVgkGCbcs5aWM2vaCTXpnVWnd5mO24
Index(['Date', 'JPM'], dtype='object')
['JPM', 'test', '10k10Q', 'csv']
title: JNJ_train_10k10Q.csv, id: 1FcbswLdPX-um8tGmZhAEgAll9enSKQPS
Index(['Date', 'JNJ'], dtype='object')
['JNJ', 'train', '10k10Q', 'csv']
title: JNJ_test_10k10Q.csv, id: 1-OyuOjkaKWhj5_5HdLfcqpQgg_gK-Ft7
Index(['Date', 'JNJ'], dtype='object')
['JNJ', 'test', '10k10Q', 'csv']
title: INTC_train_10k10Q.csv, id: 1EqABSLHZdPuSMt20X_AaCVk5n8Uxa2Dq
Index(['Date', 'INTC'], dtype='object')
['INTC', 'train', '10k10Q', 'csv']
title: HD_train_10k10Q.csv, id: 1Z2d3tROj_UMbWzDhzrY4xQTISCT9yTWO
Index(['Date', 'HD'], dtype='object')
['HD', 'train', '10k10Q', 'csv']
title: HD_test_10k10Q.csv, id: 1Q7BQeo3wka2ucMjCmwXCgCSb3kGbWoLe
Index(['Date', 'HD'], dtype='object')
['HD', 'test', '10k10Q', 'csv']
title: IBM_test_10k10Q.csv, id: 1Sywbsz1gYAooGR8IPAOwJzGLG7rhLfFv
Index(['Date', 'IBM'], dtype='object')
['IBM', 'test', '10k10Q', 'csv']
title: IBM_train_10k10Q.csv, id: 1H4AUYXXAlou59pS-3XBTzKhrBIpKDlL6
Index(['Date', 'IBM'], dtype='object')
['IBM', 'train', '10k10Q', 'csv']
title: INTC_test_10k10Q.csv, id: 1OSRkQC6CGKXogETmwcJMl9ll3AGDCf8v
Index(['Date', 'INTC'], dtype='object')
['INTC', 'test', '10k10Q', 'csv']
title: GS_train_10k10Q.csv, id: 1vfOj7EInHH7_dLGSxmAWLHTpHJYYaSir
Index(['Date', 'GS'], dtype='object')
['GS', 'train', '10k10Q', 'csv']
title: GS_test_10k10Q.csv, id: 1Mt-uIBZmgR83G28V-HqEOZu0NDu4-cc-
Index(['Date', 'GS'], dtype='object')
['GS', 'test', '10k10Q', 'csv']
title: CVX_train_10k10Q.csv, id: 1NH0ntV6IVisWbCS_cF6BH8Gn9gXt2sYy
Index(['Date', 'CVX'], dtype='object')
['CVX', 'train', '10k10Q', 'csv']
title: CAT_train_10k10Q.csv, id: 1sICCZiF15ZOCL-s4Obr3-3iuyMsl3urS
Index(['Date', 'CAT'], dtype='object')
['CAT', 'train', '10k10Q', 'csv']
title: AXP_test_10k10Q.csv, id: 1YgzSX9I5tdB0F4t67HqghjqOHnvoUikS
Index(['Date', 'AXP'], dtype='object')
['AXP', 'test', '10k10Q', 'csv']
title: AXP_train_10k10Q.csv, id: 1mX6dVN6TyebaqFJFzWs0uXjVD_kvPsYa
Index(['Date', 'AXP'], dtype='object')
['AXP', 'train', '10k10Q', 'csv']
title: BA_train_10k10Q.csv, id: 1io9SM9zuHo60gFK07o7Hy9A44O383dQQ
Index(['Date', 'BA'], dtype='object')
['BA', 'train', '10k10Q', 'csv']
title: BA_test_10k10Q.csv, id: 1W0UNd1Wg96LDZmnYtX6gNBapYC7vMn1l
Index(['Date', 'BA'], dtype='object')
['BA', 'test', '10k10Q', 'csv']
title: CAT_test_10k10Q.csv, id: 19uuRkyxUFR1OIgMqc_YSK4f4gsmZVCPa
Index(['Date', 'CAT'], dtype='object')
['CAT', 'test', '10k10Q', 'csv']
title: AAPL_train_10k10Q.csv, id: 1RpqIdcG7_mswCL6X8KZtRSL_KTkxDMKM
Index(['Date', 'AAPL'], dtype='object')
['AAPL', 'train', '10k10Q', 'csv']
title: CSCO_test_10k10Q.csv, id: 1Jg115jhsP8luaRrK67bhCitIW3wS5OuU
Index(['Date', 'CSCO'], dtype='object')
['CSCO', 'test', '10k10Q', 'csv']
title: CVX_test_10k10Q.csv, id: 1XsPYuHYi4gHghouclzzm0fGJ_x_Dljxi
Index(['Date', 'CVX'], dtype='object')
['CVX', 'test', '10k10Q', 'csv']
title: CSCO_train_10k10Q.csv, id: 1HQd9n8bgvnB_3DWk7ZfyJnHCAfV6iuMT
Index(['Date', 'CSCO'], dtype='object')
['CSCO', 'train', '10k10Q', 'csv']
title: AAPL_test_10k10Q.csv, id: 1HVaswF2OjLS-MVjFZ_X2Pj7KNOwiMOK4
Index(['Date', 'AAPL'], dtype='object')
['AAPL', 'test', '10k10Q', 'csv']

In [0]:
tenKQ_train[tenKQ_train['Ticker'] == 'AAPL']

     Ticker        Date  Predictions
0      AAPL  2010-01-25          1.0
1      AAPL  2010-01-26          1.0
2      AAPL  2010-01-27          1.0
3      AAPL  2010-01-28          1.0
4      AAPL  2010-01-29          1.0
...     ...         ...          ...
2065   AAPL  2017-12-25         -1.0
2066   AAPL  2017-12-26         -1.0
2067   AAPL  2017-12-27         -1.0
2068   AAPL  2017-12-28         -1.0
2069   AAPL  2017-12-29         -1.0

[2070 rows x 3 columns]

In [0]:
news_train = pd.DataFrame()
news_train['Ticker'] = ''
news_train['Date'] = ''
news_train['Predictions'] = ''
news_test = pd.DataFrame()
news_test['Ticker'] = ''
news_test['Date'] = ''
news_test['Predictions'] = ''
news_id = '1kLvg_sdGXHeZRStP7kh5WkZFiuh-d4z9' 
news_train, news_test = get_concatenated_datasets(news_train, news_test, news_id)

'1kLvg_sdGXHeZRStP7kh5WkZFiuh-d4z9' in parents and trashed=false
1kLvg_sdGXHeZRStP7kh5WkZFiuh-d4z9 in parents and trashed=false
title: AAPL_train.csv, id: 1hEcjV8Q7OgD8rzX3mwIdT1tn_xNWEFDG
Index(['Date', 'AAPL'], dtype='object')
['AAPL', 'train', 'csv']
title: WMT_train.csv, id: 1HV17GntGWM4BcrOTF0jGbRsJBqNctMHD
Index(['Date', 'WMT'], dtype='object')
['WMT', 'train', 'csv']
title: XOM_train.csv, id: 1CdkA1YDVFVb8VN-D_bidCiQC_4DRjqWi
Index(['Date', 'XOM'], dtype='object')
['XOM', 'train', 'csv']
title: AAPL_test.csv, id: 1TTIKa69xq19g1-nVb_5iGrPRtgO5jeqK
Index(['Date', 'AAPL'], dtype='object')
['AAPL', 'test', 'csv']
title: AXP_test.csv, id: 1WOb7k2Em_9MwKuP-ZiWxmJrvZChDETAO
Index(['Date', 'AXP'], dtype='object')
['AXP', 'test', 'csv']
title: XOM_test.csv, id: 1sgeG0BXPm3kNcrvdSa2IwVR901pCQCSz
Index(['Date', 'XOM'], dtype='object')
['XOM', 'test', 'csv']
title: WMT_test.csv, id: 1ydTSHFyKDMYgzfv0nPnBlvCabVtzxDS2
Index(['Date', 'WMT'], dtype='object')
['WMT', 'test', 'csv']
title: WBA_train.csv, id: 1cYSg9_Y9G3p_QDl0bF7AieRFydNFhV2g
Index(['Date', 'WBA'], dtype='object')
['WBA', 'train', 'csv']
title: VZ_train.csv, id: 1sOO-_WsgS_U8eNqMimVndO_Q-FOC-BQj
Index(['Date', 'VZ'], dtype='object')
['VZ', 'train', 'csv']
title: WBA_test.csv, id: 1bHWMovbVOCij_Mn6Tz4AmEqKacTa4ht3
Index(['Date', 'WBA'], dtype='object')
['WBA', 'test', 'csv']
title: PG_train.csv, id: 1AcWlgL3dwxSwlLjB9Dun9c_JobTyHAwz
Index(['Date', 'PG'], dtype='object')
['PG', 'train', 'csv']
title: V_train.csv, id: 1jJLScb5SWToDysHGVVUFmrboJDDoQHR9
Index(['Date', 'V'], dtype='object')
['V', 'train', 'csv']
title: VZ_test.csv, id: 1upZgXVPf60w61f_E7GmG-pRweDVrsQzC
Index(['Date', 'VZ'], dtype='object')
['VZ', 'test', 'csv']
title: V_test.csv, id: 1I6NISkFyMrySYIxAXXK1B9LfzZOPt8Cb
Index(['Date', 'V'], dtype='object')
['V', 'test', 'csv']
title: UNH_train.csv, id: 19CzxjECJlQZPXSeiJZWF2DIyR_86547R
Index(['Date', 'UNH'], dtype='object')
['UNH', 'train', 'csv']
title: UTX_train.csv, id: 1IfrBIl_AWb3DM1cJPKXX6KqNn-6RblF-
Index(['Date', 'UTX'], dtype='object')
['UTX', 'train', 'csv']
title: UTX_test.csv, id: 1l57r4UGTjKyQObCyUj0jwgGW0eGE09-o
Index(['Date', 'UTX'], dtype='object')
['UTX', 'test', 'csv']
title: UNH_test.csv, id: 1IU340rLz-fQ0Cprq9t6OG2BQRhBMuoVT
Index(['Date', 'UNH'], dtype='object')
['UNH', 'test', 'csv']
title: PG_test.csv, id: 14eWBAojMIbniafxGe-R9G9UFTmkaHitq
Index(['Date', 'PG'], dtype='object')
['PG', 'test', 'csv']
title: PFE_train.csv, id: 1SeRZknCSKmnBSCR1ommQ3YwAmUTrrnWY
Index(['Date', 'PFE'], dtype='object')
['PFE', 'train', 'csv']
title: PFE_test.csv, id: 10pCQnimZd48RZfrAa9Ry7G2lEXfkrvNp
Index(['Date', 'PFE'], dtype='object')
['PFE', 'test', 'csv']
title: NKE_test.csv, id: 1R_AyaWQfyS96y0eMTR2SwXjSJiW6W1Df
Index(['Date', 'NKE'], dtype='object')
['NKE', 'test', 'csv']
title: NKE_train.csv, id: 1uCgk4U_d9roZBXesGFMc-CqqgTIPZpym
Index(['Date', 'NKE'], dtype='object')
['NKE', 'train', 'csv']
title: MSFT_train.csv, id: 175vhDgfBGF16GqtG3_mbX83H613KdWTa
Index(['Date', 'MSFT'], dtype='object')
['MSFT', 'train', 'csv']
title: MSFT_test.csv, id: 1V6Xt_wFP-UqPGvT1_ct_Epk4ivoL7JgY
Index(['Date', 'MSFT'], dtype='object')
['MSFT', 'test', 'csv']
title: MMM_train.csv, id: 1nQpb5Y_eSdj1qg8JOhLdUpnHXoeKIET6
Index(['Date', 'MMM'], dtype='object')
['MMM', 'train', 'csv']
title: MRK_test.csv, id: 1nriynobi2pdhyCuS_5kkDJc0ANJJziHc
Index(['Date', 'MRK'], dtype='object')
['MRK', 'test', 'csv']
title: MRK_train.csv, id: 1UdaGrxVLJJpZLCHbyGUwW9NBXdaIx6tD
Index(['Date', 'MRK'], dtype='object')
['MRK', 'train', 'csv']
title: MMM_test.csv, id: 1_X4teFa2kCd-K2NgDI3CU7Zt6C8n_hfV
Index(['Date', 'MMM'], dtype='object')
['MMM', 'test', 'csv']
title: MCD_train.csv, id: 1YlaRoFNd6vwEvXZIsOK2EF3-vX-XrFXS
Index(['Date', 'MCD'], dtype='object')
['MCD', 'train', 'csv']
title: MCD_test.csv, id: 14vL_TynkdLeGHgBug7Am7Y-rA9inGTU8
Index(['Date', 'MCD'], dtype='object')
['MCD', 'test', 'csv']
title: JPM_train.csv, id: 1ZpqMn9Tk87GIQIjHQuekZqJCF8WpNXYz
Index(['Date', 'JPM'], dtype='object')
['JPM', 'train', 'csv']
title: KO_train.csv, id: 1pesxtYTxgwNqEHnxvU5vbaUHCpfCcHR_
Index(['Date', 'KO'], dtype='object')
['KO', 'train', 'csv']
title: KO_test.csv, id: 1CEPwTOHHcUrCDSxbQvLvc7NNHMXtHd36
Index(['Date', 'KO'], dtype='object')
['KO', 'test', 'csv']
title: INTC_train.csv, id: 1t8oywoBogsEHKwwt5nvFv0JBy3nMlBos
Index(['Date', 'INTC'], dtype='object')
['INTC', 'train', 'csv']
title: JPM_test.csv, id: 19esTj4yA2FQPAfWvy7vpdllXGboqe3P5
Index(['Date', 'JPM'], dtype='object')
['JPM', 'test', 'csv']
title: JNJ_train.csv, id: 1AHcQ7-9WTxuvowLQFpQJNLC8E1fF_aUv
Index(['Date', 'JNJ'], dtype='object')
['JNJ', 'train', 'csv']
title: JNJ_test.csv, id: 1B5oSbVyjCFIuJurRppac9_dOevk6lt4U
Index(['Date', 'JNJ'], dtype='object')
['JNJ', 'test', 'csv']
title: INTC_test.csv, id: 1pfWmwbx56Ex09cZ1Ka8xPiIpzzoWceo_
Index(['Date', 'INTC'], dtype='object')
['INTC', 'test', 'csv']
title: IBM_train.csv, id: 1h70Tkt3tSsOghHSHMs6OPge_Of4LN-h2
Index(['Date', 'IBM'], dtype='object')
['IBM', 'train', 'csv']
title: IBM_test.csv, id: 10bQ7w_TKk1DyD2owWnDvMmPY1zccagH-
Index(['Date', 'IBM'], dtype='object')
['IBM', 'test', 'csv']
title: HD_train.csv, id: 1xD4NcoL094F1E3qvlRwAbK9K6w1tvyjl
Index(['Date', 'HD'], dtype='object')
['HD', 'train', 'csv']
title: HD_test.csv, id: 1rRxVahLKWF4FN8rdaIE4s8XKBX7GUlEG
Index(['Date', 'HD'], dtype='object')
['HD', 'test', 'csv']
title: GS_train.csv, id: 1e7qF33xchB41MSB-7YtplAatb9v51SyH
Index(['Date', 'GS'], dtype='object')
['GS', 'train', 'csv']
title: AXP_train.csv, id: 1T3rgiox9DtOavO7ptSI8jTFo3EZGTlfr
Index(['Date', 'AXP'], dtype='object')
['AXP', 'train', 'csv']
title: BA_train.csv, id: 1-MbOuf9s3vQumjgW6guv-RerrIk_EUTV
Index(['Date', 'BA'], dtype='object')
['BA', 'train', 'csv']
title: CSCO_test.csv, id: 1gQGbzGDw1hOkYEZbhdMiQZ5Z0OUF7iO6
Index(['Date', 'CSCO'], dtype='object')
['CSCO', 'test', 'csv']
title: GS_test.csv, id: 1oUtQi7fXvTCPD9EqsDwb8fqtw2S64h0F
Index(['Date', 'GS'], dtype='object')
['GS', 'test', 'csv']
title: CAT_test.csv, id: 1G6n5OgtmLdfkEMaxn_sfTBPvJ0FnTKRY
Index(['Date', 'CAT'], dtype='object')
['CAT', 'test', 'csv']
title: CSCO_train.csv, id: 1R8-5ipi1grr8hU9_AZayUlqJpKediRuV
Index(['Date', 'CSCO'], dtype='object')
['CSCO', 'train', 'csv']
title: CVX_train.csv, id: 1CMQ6rPhhtTo66EfwqnWfxVb7ccf-sReO
Index(['Date', 'CVX'], dtype='object')
['CVX', 'train', 'csv']
title: CAT_train.csv, id: 1D4WOGtI9WYjxKH_VNh_tzcKx_xBSAQ8a
Index(['Date', 'CAT'], dtype='object')
['CAT', 'train', 'csv']
title: CVX_test.csv, id: 1MPsaFyZMIp12r8a8BS6sjfPVEOKQMwuC
Index(['Date', 'CVX'], dtype='object')
['CVX', 'test', 'csv']
title: BA_test.csv, id: 1-v6LV8OWshMzYJFV7TrJ8oP7VFh_8TvK
Index(['Date', 'BA'], dtype='object')
['BA', 'test', 'csv']

In [0]:
tweets_train = pd.DataFrame()
tweets_train['Ticker'] = ''
tweets_train['Date'] = ''
tweets_train['Predictions'] = ''
tweets_test = pd.DataFrame()
tweets_test['Ticker'] = ''
tweets_test['Date'] = ''
tweets_test['Predictions'] = ''
tweet_id = '1oBrmF6lpyesdGDxOg0PW7ycnUeqr8bms'
tweets_train, tweets_test = get_concatenated_datasets(tweets_train, tweets_test, tweet_id)

'1oBrmF6lpyesdGDxOg0PW7ycnUeqr8bms' in parents and trashed=false
1oBrmF6lpyesdGDxOg0PW7ycnUeqr8bms in parents and trashed=false
title: test_25tickers.csv, id: 1mIE8elmcJF0fzTTWBB1lPbTuztuNu4zx
Index(['Ticker', 'Date', 'Predictions_8k', 'Predictions_10kq',
       'Predictions_tweets', 'Predictions_news', 'Month', 'Day_of_week',
       'MACD', 'MACD_Hist', 'MACD_Signal', 'RSI', 'Real Lower Band',
       'Real Middle Band', 'Real Upper Band', 'Sector', 'Label', 'SMA_label'],
      dtype='object')
['test', '25tickers', 'csv']
title: AAPL_test_tweet.csv, id: 1yC3TsVWywsW63aE3Lfh1L4agoTu9QmXn
Index(['Date', 'AAPL'], dtype='object')
['AAPL', 'test', 'tweet', 'csv']
title: AAPL_train_tweet.csv, id: 1Xu5uP_Xsae8bA19sRwrBQFsgzNlB5a31
Index(['Date', 'AAPL'], dtype='object')
['AAPL', 'train', 'tweet', 'csv']
title: XOM_test_tweet.csv, id: 1-87RnGxgPQPF4oUk_IfXr8X6GzJWgfGq
Index(['Date', 'XOM'], dtype='object')
['XOM', 'test', 'tweet', 'csv']
title: WMT_train_tweet.csv, id: 1uV6X-rTgL83-b9XRreqBZ9Lft7h1IfEi
Index(['Date', 'WMT'], dtype='object')
['WMT', 'train', 'tweet', 'csv']
title: WMT_test_tweet.csv, id: 1XLkfBpI2eLFTGJJzfAim-Uoad9ilUIEe
Index(['Date', 'WMT'], dtype='object')
['WMT', 'test', 'tweet', 'csv']
title: XOM_train_tweet.csv, id: 1LGReeYawIMUxS89coR9zHBDr3hArsnb2
Index(['Date', 'XOM'], dtype='object')
['XOM', 'train', 'tweet', 'csv']
title: V_train_tweet.csv, id: 1HN4wStzjhEw8vnDbVT0ggXq2QH6RNdme
Index(['Date', 'V'], dtype='object')
['V', 'train', 'tweet', 'csv']
title: VZ_test_tweet.csv, id: 1chMjVSD-0ecojKLRrGd__qQxiPbA-28F
Index(['Date', 'VZ'], dtype='object')
['VZ', 'test', 'tweet', 'csv']
title: V_test_tweet.csv, id: 1LrVXeWU8jZw4yUlvuc8MWTYo8Nh63oOZ
Index(['Date', 'V'], dtype='object')
['V', 'test', 'tweet', 'csv']
title: UTX_train_tweet.csv, id: 1b-6ykarS8JgBKZhPIWzXmL6zEg__Ib3w
Index(['Date', 'UTX'], dtype='object')
['UTX', 'train', 'tweet', 'csv']
title: VZ_train_tweet.csv, id: 1oNIi3JwooZQ_1-TxIOJZDFo-0ZE_N4hO
Index(['Date', 'VZ'], dtype='object')
['VZ', 'train', 'tweet', 'csv']
title: UTX_test_tweet.csv, id: 1FHLI1yn9LFfBWsaP-nPWtmint6znHX0k
Index(['Date', 'UTX'], dtype='object')
['UTX', 'test', 'tweet', 'csv']
title: UNH_test_tweet.csv, id: 1JyLkwqZZtq_4-y5_WasoMwj3U9U-vsHx
Index(['Date', 'UNH'], dtype='object')
['UNH', 'test', 'tweet', 'csv']
title: PG_test_tweet.csv, id: 1n_hAAXSjaSvQDkZZ-dJq7BRRGhpUqlFv
Index(['Date', 'PG'], dtype='object')
['PG', 'test', 'tweet', 'csv']
title: PG_train_tweet.csv, id: 1g5NhPHM2oPDdvySblXDPlKBATGYvuCiO
Index(['Date', 'PG'], dtype='object')
['PG', 'train', 'tweet', 'csv']
title: UNH_train_tweet.csv, id: 1d5c4mbv2OCrkeStAkfI_gEOHweM2XOC3
Index(['Date', 'UNH'], dtype='object')
['UNH', 'train', 'tweet', 'csv']
title: PFE_train_tweet.csv, id: 1A-TPgmvA-CN8Owxq_bl0lN76dfl0MlBJ
Index(['Date', 'PFE'], dtype='object')
['PFE', 'train', 'tweet', 'csv']
title: NKE_train_tweet.csv, id: 1k37ooAy81IMw5ZgVg4vOlcXZLFEmicwy
Index(['Date', 'NKE'], dtype='object')
['NKE', 'train', 'tweet', 'csv']
title: PFE_test_tweet.csv, id: 1KbET2Aai6zw-QctMoe0ptmAHt_rBUH2e
Index(['Date', 'PFE'], dtype='object')
['PFE', 'test', 'tweet', 'csv']
title: MSFT_train_tweet.csv, id: 1cl3ePZoaHnw8VDlwoCo5pfPPQyl2lRE0
Index(['Date', 'MSFT'], dtype='object')
['MSFT', 'train', 'tweet', 'csv']
title: NKE_test_tweet.csv, id: 15s9wTMIHQXkkYAnLuwL-Aa9Bfkd0FFpr
Index(['Date', 'NKE'], dtype='object')
['NKE', 'test', 'tweet', 'csv']
title: MSFT_test_tweet.csv, id: 1sXR6xwZPjRTSOMnMkIOaJtGuUL7SwVHp
Index(['Date', 'MSFT'], dtype='object')
['MSFT', 'test', 'tweet', 'csv']
title: MMM_test_tweet.csv, id: 1xRIW6lr93qZ4Hjx3lBwH-UCPFaO4yMiV
Index(['Date', 'MMM'], dtype='object')
['MMM', 'test', 'tweet', 'csv']
title: MRK_train_tweet.csv, id: 1pw7IdjQIiFvi5yKo33lBWuF49q8Kq9Wj
Index(['Date', 'MRK'], dtype='object')
['MRK', 'train', 'tweet', 'csv']
title: MMM_train_tweet.csv, id: 1w5EK5eLdBZCT6n8wGhqnjPeMDuRzuKB9
Index(['Date', 'MMM'], dtype='object')
['MMM', 'train', 'tweet', 'csv']
title: MRK_test_tweet.csv, id: 1dU4xuxBS2sxtYnyYHV8cq36iBMf89Mp7
Index(['Date', 'MRK'], dtype='object')
['MRK', 'test', 'tweet', 'csv']
title: JPM_train_tweet.csv, id: 1kOLnX8OusKpMsDAoQ-Q8CH-DVBqxyBdo
Index(['Date', 'JPM'], dtype='object')
['JPM', 'train', 'tweet', 'csv']
title: MCD_train_tweet.csv, id: 13_JIVa7G1swssNz0jOwCLPZy9R_qHoMH
Index(['Date', 'MCD'], dtype='object')
['MCD', 'train', 'tweet', 'csv']
title: MCD_test_tweet.csv, id: 1FrF_vbudiBwmUewx7L6A6NqseA4p_lcq
Index(['Date', 'MCD'], dtype='object')
['MCD', 'test', 'tweet', 'csv']
title: KO_train_tweet.csv, id: 1DMsrmnTouKYgMw-bxOSVzJF7pPY7tLzL
Index(['Date', 'KO'], dtype='object')
['KO', 'train', 'tweet', 'csv']
title: KO_test_tweet.csv, id: 1R9TBr4j9RX3Icbv1TnrAQp1sytzjd7i3
Index(['Date', 'KO'], dtype='object')
['KO', 'test', 'tweet', 'csv']
title: JPM_test_tweet.csv, id: 1LAGvarOKefx9kncyl1MPNXs40_6k42Wp
Index(['Date', 'JPM'], dtype='object')
['JPM', 'test', 'tweet', 'csv']
title: IBM_train_tweet.csv, id: 1FoMnJm7bBXM62yAPK82-t7HOT12NzNCI
Index(['Date', 'IBM'], dtype='object')
['IBM', 'train', 'tweet', 'csv']
title: JNJ_test_tweet.csv, id: 1LU62ECAC3CGj9Vlo3QW7sVb8JMrYR0MO
Index(['Date', 'JNJ'], dtype='object')
['JNJ', 'test', 'tweet', 'csv']
title: JNJ_train_tweet.csv, id: 10NiD5jy10jrbmLY9x2w1IKTHQXQ42EWU
Index(['Date', 'JNJ'], dtype='object')
['JNJ', 'train', 'tweet', 'csv']
title: INTC_train_tweet.csv, id: 1qi1CWOCOO--PPQIiUXLF2dw-Q1nt5EJb
Index(['Date', 'INTC'], dtype='object')
['INTC', 'train', 'tweet', 'csv']
title: INTC_test_tweet.csv, id: 1vlpyphncePoWrCqf5_Q0SxZJQNm-VdUp
Index(['Date', 'INTC'], dtype='object')
['INTC', 'test', 'tweet', 'csv']
title: GS_train_tweet.csv, id: 1qB-TCSV0EEGG1kMpbH-VH5nQnAyNDksA
Index(['Date', 'GS'], dtype='object')
['GS', 'train', 'tweet', 'csv']
title: HD_test_tweet.csv, id: 1DbnLtTge0ahDRGVXpacG6DpNWjYJVGE0
Index(['Date', 'HD'], dtype='object')
['HD', 'test', 'tweet', 'csv']
title: IBM_test_tweet.csv, id: 1bUja5IGqsyA_oN7pD3DcFZdeZ5Zg-Rk3
Index(['Date', 'IBM'], dtype='object')
['IBM', 'test', 'tweet', 'csv']
title: HD_train_tweet.csv, id: 13tYUQQlder5y_bzgSysa2xwdk-rzKRTf
Index(['Date', 'HD'], dtype='object')
['HD', 'train', 'tweet', 'csv']
title: GS_test_tweet.csv, id: 1Trfrm70hTIgc3Uq7Qlm5ittf02qo7jVI
Index(['Date', 'GS'], dtype='object')
['GS', 'test', 'tweet', 'csv']
title: CVX_test_tweet.csv, id: 1pFpnKgspzX8omotlErJgoSoRz70T_BC6
Index(['Date', 'CVX'], dtype='object')
['CVX', 'test', 'tweet', 'csv']
title: CSCO_train_tweet.csv, id: 1Npx9O7yFd0fiqPzBKlKmjQbV08oSUBuF
Index(['Date', 'CSCO'], dtype='object')
['CSCO', 'train', 'tweet', 'csv']
title: BA_train_tweet.csv, id: 1CgTOPBvXDkyYDQscAX130kRSOpyNIsO2
Index(['Date', 'BA'], dtype='object')
['BA', 'train', 'tweet', 'csv']
title: CVX_train_tweet.csv, id: 1LjXZigMMTANOd5JyhF8NY5ct6pZjrBXs
Index(['Date', 'CVX'], dtype='object')
['CVX', 'train', 'tweet', 'csv']
title: CSCO_test_tweet.csv, id: 1xqRwOkhwjyhxJZMvlglpZM4akE5gRoGz
Index(['Date', 'CSCO'], dtype='object')
['CSCO', 'test', 'tweet', 'csv']
title: AXP_train_tweet.csv, id: 1mlb41dcJqI7m_HuAUyShwcN41YOv2uQY
Index(['Date', 'AXP'], dtype='object')
['AXP', 'train', 'tweet', 'csv']
title: AXP_test_tweet.csv, id: 16m35O97_Euznq9pALhLOIR53xOlZudWJ
Index(['Date', 'AXP'], dtype='object')
['AXP', 'test', 'tweet', 'csv']
title: BA_test_tweet.csv, id: 1qO6SC2CGRlCEUct5_7iNFmN3Kg0RyG2E
Index(['Date', 'BA'], dtype='object')
['BA', 'test', 'tweet', 'csv']

In [0]:
downloaded = drive.CreateFile({'id':'11lg8YLGNs2pfEuFfdBoh3Gh3KtnJ_X8C'}) #https://drive.google.com/file/d/11lg8YLGNs2pfEuFfdBoh3Gh3KtnJ_X8C/view?usp=sharing
downloaded.GetContentFile('AAPL_train_AmazonReviews.csv')
AmazonReviews_train_AAPL = pd.read_csv('AAPL_train_AmazonReviews.csv', sep=',')

downloaded = drive.CreateFile({'id':'1iINn5aK-2n9GK98S_qXp7fy0YBO3qYzu'}) #https://drive.google.com/file/d/1iINn5aK-2n9GK98S_qXp7fy0YBO3qYzu/view?usp=sharing
downloaded.GetContentFile('AAPL_test_AmazonReviews.csv')
AmazonReviews_test_AAPL = pd.read_csv('AAPL_test_AmazonReviews.csv', sep=',')

In [0]:
AmazonReviews_train_AAPL['Ticker'] = 'AAPL'
AmazonReviews_test_AAPL['Ticker'] = 'AAPL'

In [0]:
eightk_train['Ticker'].unique()

array(['CAT', 'JPM', 'MSFT', 'AXP', 'AAPL', 'MCD', 'IBM', 'VZ', 'CSCO',
       'PFE', 'WMT', 'KO', 'MMM', 'NKE', 'PG', 'XOM', 'DIS', 'BA', 'V',
       'TRV', 'CVX', 'MRK', 'JNJ', 'HD', 'INTC', 'UNH', 'GS', 'UTX'],
      dtype=object)

In [0]:
tenKQ_train[tenKQ_train['Ticker'] == "UTX"]['Predictions'].value_counts()

 1.0    1705
-1.0     317
 0.0      35
Name: Predictions, dtype: int64

# Concat all sources

### Drop 5 tickers to standardise data

In [0]:
ticker_drop = ["CAT", "DOW", "WBA", "TRV", "DIS"]
eightk_train = eightk_train[~eightk_train['Ticker'].isin(ticker_drop)]
tenKQ_train = tenKQ_train[~tenKQ_train['Ticker'].isin(ticker_drop)]
tweets_train = tweets_train[~tweets_train['Ticker'].isin(ticker_drop)]
news_train = news_train[~news_train['Ticker'].isin(ticker_drop)]

print("eightk_train: ", eightk_train.shape)
print("tenKQ_train: ", tenKQ_train.shape)
print("tweets_train: ", tweets_train.shape)
print("news_train: ", news_train.shape)

eightk_test = eightk_test[~eightk_test['Ticker'].isin(ticker_drop)]
tenKQ_test = tenKQ_test[~tenKQ_test['Ticker'].isin(ticker_drop)]
tweets_test = tweets_test[~tweets_test['Ticker'].isin(ticker_drop)]
news_test = news_test[~news_test['Ticker'].isin(ticker_drop)]

print("eightk_test: ", eightk_test.shape)
print("tenKQ_test: ", tenKQ_test.shape)
print("tweets_test: ", tweets_test.shape)
print("news_test: ", news_test.shape)

eightk_train:  (50325, 3)
tenKQ_train:  (51288, 3)
tweets_train:  (50350, 3)
news_train:  (52150, 3)
eightk_test:  (12575, 3)
tenKQ_test:  (12761, 3)
tweets_test:  (12575, 3)
news_test:  (13050, 3)

## Join 4 sources for 25 tickers (train and test sets)

In [0]:
df_train1 = eightk_train.join(tenKQ_train.set_index(["Ticker","Date"]), how='left', on=["Ticker","Date"], lsuffix='_8k', rsuffix='_10kq')
df_train1.loc[df_train1.Predictions_10kq.isnull(),'Predictions_10kq'] = 0
df_train2 = tweets_train.join(news_train.set_index(["Ticker","Date"]), how='left', on=["Ticker","Date"], lsuffix='_tweets', rsuffix='_news').drop_duplicates()
print("df_train1: ", df_train1.shape)
print("df_train2: ", df_train2.shape)

df_train = df_train1.join(df_train2.set_index(["Ticker","Date"]), how='inner', on=["Ticker","Date"])
print("df_train: ", df_train.shape)

print()
df_test1 = eightk_test.join(tenKQ_test.set_index(["Ticker","Date"]), how='left', on=["Ticker","Date"], lsuffix='_8k', rsuffix='_10kq')
df_test1.loc[df_test1.Predictions_10kq.isnull(),'Predictions_10kq'] = 0
df_test2 = tweets_test.join(news_test.set_index(["Ticker","Date"]), how='left', on=["Ticker","Date"], lsuffix='_tweets', rsuffix='_news').drop_duplicates()
print("df_test1: ", df_test1.shape)
print("df_test2: ", df_test2.shape)

df_test = df_test1.join(df_test2.set_index(["Ticker","Date"]), how='left', on=["Ticker","Date"]).drop_duplicates()
print("df_test: ", df_test.shape)

df_train1:  (50325, 4)
df_train2:  (50350, 4)
df_train:  (50325, 6)

df_test1:  (12575, 4)
df_test2:  (12575, 4)
df_test:  (12575, 6)

In [0]:
df_train['Month'] = pd.to_datetime(df_train['Date']).dt.month
df_train['Day_of_week'] = pd.to_datetime(df_train['Date']).dt.weekday

df_test['Month'] = pd.to_datetime(df_test['Date']).dt.month
df_test['Day_of_week'] = pd.to_datetime(df_test['Date']).dt.weekday

In [0]:
df_train

     Ticker        Date Predictions_8k  ...  Predictions_news  Month  Day_of_week
0       JPM  2010-01-04              0  ...               0.0      1            0
1       JPM  2010-01-05              0  ...               0.0      1            1
2       JPM  2010-01-06              0  ...               0.0      1            2
3       JPM  2010-01-07              0  ...               0.0      1            3
4       JPM  2010-01-08              0  ...               0.0      1            4
...     ...         ...            ...  ...               ...    ...          ...
2008    UTX  2017-12-22              0  ...               0.0     12            4
2009    UTX  2017-12-26              0  ...               0.0     12            1
2010    UTX  2017-12-27              0  ...               0.0     12            2
2011    UTX  2017-12-28              0  ...               0.0     12            3
2012    UTX  2017-12-29              0  ...               0.0     12            4

[50325 rows x 8 columns]

In [0]:
df_test2[df_test2[['Ticker','Date']].duplicated(keep=False)].sort_values(['Ticker','Date'])

Empty DataFrame
Columns: [Ticker, Date, Predictions_tweets, Predictions_news]
Index: []

In [0]:
df_test[df_test.Predictions_tweets.isnull()]

Empty DataFrame
Columns: [Ticker, Date, Predictions_8k, Predictions_10kq, Predictions_tweets, Predictions_news, Month, Day_of_week]
Index: []

In [0]:
df_train = df_train.reset_index(drop=True)
df_test = df_test.reset_index(drop=True)

# Labels

In [0]:
downloaded = drive.CreateFile({'id':'10ZsFp937EEKqgUGaKEcxVCSV8h81NSN6'}) #https://drive.google.com/file/d/10ZsFp937EEKqgUGaKEcxVCSV8h81NSN6/view?usp=sharing
downloaded.GetContentFile('price_labels.csv')
price_labels = pd.read_csv('price_labels.csv')

In [0]:
tickers = ["MMM", "AXP", "AAPL", "BA", \
        "CVX", "CSCO", "KO", \
        "XOM", "GS", \
        "HD", "IBM", "INTC", "JNJ", \
        "JPM", "MCD", "MRK", "MSFT",\
        "NKE", "PFE", "PG",  \
        "UTX", "UNH", "VZ", "V", \
        "WMT"]
len(tickers)

25

In [0]:
labels = pd.DataFrame()

for ticker in tickers:
    print("Company:", ticker)
        
    price_labels_xcompany = price_labels[price_labels['Ticker']==ticker][['Date', "Adj Close"]]
    print("Number of records:", price_labels_xcompany.shape)

    price_labels_xcompany.loc[:,'Date'] = [date[:10] for date in price_labels_xcompany['Date']]
    price_labels_xcompany.loc[:,'Ticker'] = ticker

    # y data
    price_labels_xcompany.loc[:,'hist_returns'] = np.log10(price_labels_xcompany['Adj Close']/price_labels_xcompany['Adj Close'].shift())
    price_labels_xcompany.loc[:,'Label'] = [1 if hist_return>=0 else -1 for hist_return in price_labels_xcompany['hist_returns']]

    # x data - technical indicators
    price_labels_xcompany.loc[:,'SMA(3)'] = price_labels_xcompany.hist_returns.rolling(3).mean()
    price_labels_xcompany.loc[:,'SMA_label'] = [1 if sma>=0 else -1 for sma in price_labels_xcompany['SMA(3)']]

    labels = pd.concat([labels, price_labels_xcompany[['Ticker', 'Date', 'Label', 'SMA_label']]])

Company: MMM
Number of records: (2517, 2)
Company: AXP
Number of records: (2517, 2)
Company: AAPL
Number of records: (2517, 2)
Company: BA
Number of records: (2517, 2)
Company: CVX
Number of records: (2517, 2)
Company: CSCO
Number of records: (2517, 2)
Company: KO
Number of records: (2517, 2)
Company: XOM
Number of records: (2517, 2)
Company: GS
Number of records: (2517, 2)
Company: HD
Number of records: (2517, 2)
Company: IBM
Number of records: (2517, 2)
Company: INTC
Number of records: (2517, 2)
Company: JNJ
Number of records: (2517, 2)
Company: JPM
Number of records: (2517, 2)
Company: MCD
Number of records: (2517, 2)
Company: MRK
Number of records: (2517, 2)
Company: MSFT
Number of records: (2517, 2)
Company: NKE
Number of records: (2517, 2)
Company: PFE
Number of records: (2517, 2)
Company: PG
Number of records: (2517, 2)
Company: UTX
Number of records: (2517, 2)
Company: UNH
Number of records: (2517, 2)
Company: VZ
Number of records: (2517, 2)
Company: V
Number of records: (2517, 2)
Company: WMT
Number of records: (2517, 2)

In [0]:
y_train = labels[(labels['Date']>='2010-01-01')&(labels['Date']<='2017-12-31')]
y_test = labels[(labels['Date']>='2018-01-01')&(labels['Date']<='2019-12-31')]

In [0]:
y_test

      Ticker        Date  Label  SMA_label
4531     MMM  2018-01-02      1         -1
4532     MMM  2018-01-03     -1         -1
4533     MMM  2018-01-04      1          1
4534     MMM  2018-01-05      1          1
4535     MMM  2018-01-08     -1          1
...      ...         ...    ...        ...
70670    WMT  2019-12-24      1         -1
70671    WMT  2019-12-26      1         -1
70672    WMT  2019-12-27      1          1
70673    WMT  2019-12-30     -1         -1
70674    WMT  2019-12-31     -1         -1

[12575 rows x 4 columns]

In [0]:
# y_train.to_csv('y_train.csv', index=False)
# y_test.to_csv('y_test.csv', index=False)


# from google.colab import files
# files.download('y_train.csv')
# files.download('y_test.csv')

# Technical Indicators

## Read from csv in drive

In [0]:
downloaded = drive.CreateFile({'id':'1o7IGkjx_OzQJ3GQnjt0ybh0AT0j8DM-k'}) # https://drive.google.com/file/d/1o7IGkjx_OzQJ3GQnjt0ybh0AT0j8DM-k/view?usp=sharing
downloaded.GetContentFile('technical_indicators_RAW.csv')
df_tech_indicators = pd.read_csv('technical_indicators_RAW.csv')

In [0]:
df_tech_indicators.iloc[0]

Ticker                     JPM
Date                2010-01-04
MACD                   -0.1119
MACD_Hist               0.1928
MACD_Signal            -0.3047
RSI                    63.0778
Real Lower Band         40.829
Real Middle Band        41.745
Real Upper Band         42.661
Name: 0, dtype: object

## Rerun API for new technical indicators

In [0]:
!pip install alpha_vantage
from alpha_vantage.techindicators import TechIndicators

ti = TechIndicators(key='C0HVAMH8LDSFTMJ6', output_format='pandas')
# TAMW58CFBZX0BBXF
# DBUM6SFWS3Z8QF6F
# 2WVD9YSHMLUZCD5C
# 85VYUKZAALLWU53L
# 3SECITSUI1DZ9VF3
# IRJLESHOBMAQ7JH4
# NSS8JPEMVQS4139X
# P69GR2BEW542764E
# Y23Q74EDSWB09KR9
# WQITV16O3V0PILAO
# VTLKZWU0AMHIJLSE
# 1E5OQN1100XEDWZ7
# WXB247GAL1UQ3MNL
# WHV61TLB8RN9SUOS
# C0HVAMH8LDSFTMJ6

# data, meta = ti.get_rsi(symbol=ticker, interval='daily', time_period=5, series_type='close')

Collecting alpha_vantage
  Downloading https://files.pythonhosted.org/packages/c9/72/c3a2a8371f94515a2f0b1203dc152cf8d82dc17baeea0c1af5a23d10eca7/alpha_vantage-2.1.3.tar.gz
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from alpha_vantage) (2.21.0)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->alpha_vantage) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests->alpha_vantage) (2019.11.28)
Requirement already satisfied: idna<2.9,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->alpha_vantage) (2.8)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests->alpha_vantage) (1.24.3)
Building wheels for collected packages: alpha-vantage
  Building wheel for alpha-vantage (setup.py) ... done
  Created wheel for alpha-vantage: filename=alpha_vantage-2.1.3-cp36-none-any.whl size=14870 sha256=0857277252f36ec513b4cf43f6b09a16ee39a3c634637ab18783854cc5be2ca4
  Stored in directory: /root/.cache/pip/wheels/d4/75/c2/483b0a988fd965b1128c1396a0ffadfb8903bd2bb569220048
Successfully built alpha-vantage
Installing collected packages: alpha-vantage
Successfully installed alpha-vantage-2.1.3

In [0]:
from scipy.stats import zscore

#df_tech_indicators = pd.DataFrame()
done = ["MMM", "AXP", "AAPL", "BA", "CVX", "CSCO", "KO", "XOM", "GS", "HD", "IBM", "INTC", "JNJ", "JPM", "MCD", "MRK", "MSFT", "NKE", "PFE", "PG", "UTX", "UNH", "VZ", "V", "WMT"]

for ticker in tickers:
    if(ticker in done): continue
    print("Company:", ticker)

    rsi, meta = ti.get_rsi(symbol=ticker, interval='daily', time_period=10, series_type='close')
    df_xcompany_rsi = rsi.reset_index()

    macd, meta = ti.get_macd(symbol=ticker, interval='daily', series_type='close',\
                            fastperiod=12, slowperiod=26, signalperiod=9)
    df_xcompany_macd = macd.reset_index()

    bbands, meta = ti.get_bbands(symbol=ticker, interval='daily', time_period=10, series_type='close')
    df_xcompany_bbands = bbands.reset_index()

    print(df_xcompany_rsi.shape, df_xcompany_macd.shape, df_xcompany_bbands.shape)
    df_xcompany = df_xcompany_rsi.join(df_xcompany_macd.set_index('date'), on='date', how='inner')
    df_xcompany = df_xcompany.join(df_xcompany_bbands.set_index('date'), on='date', how='inner')
    print(df_xcompany.shape)

    df_xcompany.rename(columns={'date':'Date'}, inplace=True)
    df_xcompany['Ticker'] = ticker
    df_xcompany['Date'] = df_xcompany['Date'].dt.strftime('%Y-%m-%d')

    # df_xcompany[["RSI", "MACD_Hist", "MACD_Signal", "MACD", "Real Middle Band", "Real Lower Band", "Real Upper Band"]] = df_xcompany[["RSI", "MACD_Hist", "MACD_Signal", "MACD", "Real Middle Band", "Real Lower Band", "Real Upper Band"]].apply(zscore)


    df_tech_indicators = pd.concat([df_tech_indicators, df_xcompany])

In [0]:
df_tech_indicators["Ticker"].value_counts()

In [0]:
# df_tech_indicators = df_tech_indicators[df_tech_indicators["Ticker"] != "MSFT"]
# df_tech_indicators = df_tech_indicators[df_tech_indicators["Ticker"] != "NKE"]

In [0]:
df_tech_indicators = df_tech_indicators[(df_tech_indicators['Date']>='2010-01-01')&(df_tech_indicators['Date']<='2019-12-31')]
df_tech_indicators = df_tech_indicators.reset_index(drop=True)

In [0]:
df_tech_indicators.shape

# Sector each Ticker belongs to

In [0]:
downloaded = drive.CreateFile({'id':'128VZNqFRlYf17EahMTWaxdVE2MLeGW_g'}) # https://drive.google.com/file/d/128VZNqFRlYf17EahMTWaxdVE2MLeGW_g/view?usp=sharing
downloaded.GetContentFile('cik_mapper.csv')
cik_mapper = pd.read_csv('cik_mapper.csv')

In [0]:
cik_mapper = cik_mapper[['Symbol', 'GICS Sector']]
cik_mapper.columns = ['Ticker', "Sector"]

In [0]:
df_train

      Ticker        Date Predictions_8k  ...  Predictions_news  Month  Day_of_week
0        JPM  2010-01-04              0  ...               0.0      1            0
1        JPM  2010-01-05              0  ...               0.0      1            1
2        JPM  2010-01-06              0  ...               0.0      1            2
3        JPM  2010-01-07              0  ...               0.0      1            3
4        JPM  2010-01-08              0  ...               0.0      1            4
...      ...         ...            ...  ...               ...    ...          ...
50320    UTX  2017-12-22              0  ...               0.0     12            4
50321    UTX  2017-12-26              0  ...               0.0     12            1
50322    UTX  2017-12-27              0  ...               0.0     12            2
50323    UTX  2017-12-28              0  ...               0.0     12            3
50324    UTX  2017-12-29              0  ...               0.0     12            4

[50325 rows x 8 columns]

# Join labels and tech indicators

In [0]:
df_train = df_train.join(df_tech_indicators.set_index(['Ticker', 'Date']), on=['Ticker', 'Date'], how='left')
df_test = df_test.join(df_tech_indicators.set_index(['Ticker', 'Date']), on=['Ticker', 'Date'], how='left')

In [0]:
df_train = df_train.join(cik_mapper.set_index(['Ticker']), on=['Ticker'], how='inner')
df_test = df_test.join(cik_mapper.set_index(['Ticker']), on=['Ticker'], how='inner')

In [0]:
df_train = df_train.join(y_train.set_index(['Ticker', 'Date']), on=['Ticker', 'Date'], how='left')
df_test = df_test.join(y_test.set_index(['Ticker', 'Date']), on=['Ticker', 'Date'], how='left')

In [0]:
df_test.isnull().any()

Ticker                False
Date                  False
Predictions_8k        False
Predictions_10kq      False
Predictions_tweets    False
Predictions_news      False
Month                 False
Day_of_week           False
MACD                  False
MACD_Hist             False
MACD_Signal           False
RSI                   False
Real Lower Band       False
Real Middle Band      False
Real Upper Band       False
Sector                False
Label                 False
SMA_label             False
dtype: bool

In [0]:
df_train.to_csv('train_25tickers.csv', index=False)
df_test.to_csv('test_25tickers.csv', index=False)


from google.colab import files
files.download('train_25tickers.csv')
files.download('test_25tickers.csv')

## Form AAPL data with Amazon Reviews

In [0]:
df_train_AAPL = df_train[df_train.Ticker=='AAPL']
df_test_AAPL = df_test[df_test.Ticker=='AAPL']

In [0]:
# col_names = ['Ticker', 'Dates', 'Predictions']
# 'Dates', 'Predictions', 'Ticker'
# AmazonReviews_train_AAPL = AmazonReviews_train_AAPL[col_names]
# AmazonReviews_test_AAPL = AmazonReviews_test_AAPL[col_names]
AmazonReviews_train_AAPL.columns = ['Date', 'Predictions_amxn', 'Ticker']
AmazonReviews_test_AAPL.columns = ['Date', 'Predictions_amxn', 'Ticker']

AmazonReviews_train_AAPL.Date = [date[:10] for date in AmazonReviews_train_AAPL.Date]
AmazonReviews_test_AAPL.Date = [date[:10] for date in AmazonReviews_test_AAPL.Date]

df_train_AAPL = df_train_AAPL.join(AmazonReviews_train_AAPL.set_index(["Ticker","Date"]), how='left', on=["Ticker","Date"])
df_test_AAPL = df_test_AAPL.join(AmazonReviews_test_AAPL.set_index(["Ticker","Date"]), how='left', on=["Ticker","Date"])

In [0]:
df_train_AAPL = df_train_AAPL.reset_index(drop=True)
df_test_AAPL = df_test_AAPL.reset_index(drop=True)

In [0]:
df_train_AAPL.to_csv('train_AAPL.csv', index=False)
df_test_AAPL.to_csv('test_AAPL.csv', index=False)


from google.colab import files
files.download('train_AAPL.csv')
files.download('test_AAPL.csv')